@import '~node_modules/modern-normalize/modern-normalize.css';

body {
    font-family: var(--primary-font-family);
    background-color: var(--primary-bg-color);
}

.container {    
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 319.98px) {
        width: 100%;
    }

    @media screen and (min-width: 320px) {
        width: 320px;
        padding-left: 20px;
        padding-right: 20px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hidden {
    display: none;
}