// BG PROP STARTS
.header{
    background-color:rgba(0, 0, 0, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 92px;
    background-size: cover;
    background-position: center;


    background-image: url('../images/bg-images/bg-mobile.jpg');

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('../images/bg-images/bg-mobile@2x.jpg');
    }
}

@media screen and (max-width:767.98px) {
    .header__logo--hidden {
        display: none;
    }
}

@media screen and (min-width:768px) {
    .header__wrapper {
        padding-bottom: 80px;
        background-image: url('../images/bg-images/bg-tablet.jpg');

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/bg-images/bg-tablet@2x.jpg');
        }
    }
}


@media screen and (min-width:1280px) {
    .header__wrapper {
        max-width: 1600px;
        background-image: url('../images/bg-images/bg-desktop.jpg');

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/bg-images/bg-desktop@2x.jpg');
        }
    }
}


// GENERAL PROP AND MOBILE STARTS

.header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo {
    margin-right: 10px;
    display: flex;
    align-items: center;
    &:hover,
    &:focus {
            text-decoration: none;
        }

}

.nav__link {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.167;
    color: var(--secondary-color);
    transition: color 250ms linear;

    &:hover,
    &:focus {
        color: var(--accent-color);
        text-decoration: none;
    }
}

.movie-search {
    width: 280px;
    border: none;
    border-bottom: 0.5px solid var(--secondary-color);
    display: flex;
    justify-content: space-between;
}

.search-input {
    padding: 4px;
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--secondary-color);

    &::placeholder {
        padding: 4px;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        color: var(--secondary-color);
    }
}

.auth-nav__list{
    display: flex;
    margin-right: 20px;
}

.auth-nav__item:not(:last-child) {
    margin-right: 10px;
}

.auth-btn {
    padding: 0;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.167;
    border: none;
    cursor: pointer;
    color: var(--secondary-color);
    background-color: transparent;
    transition: color 250ms linear;

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}


.submit-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item:not(:last-child) {
    margin-right: 10px;
}

.nav__link--active {
    border-bottom: 3px solid #FF001B;
}

.form-wrapper {
    margin-top: 54px;
}

// TABLET STARTS 
@media screen and (min-width:768px) {
    .header__logo {
        font-weight: 500;
        font-size: 30px;
        line-height: 1.167;
        color: var(--secondary-color);
        margin-right: auto;
    }

    .logo-icon {
        margin-right: 8px;
    }

    .auth-nav__list{
        margin-right: 40px;
    }

    .auth-nav__item:not(:last-child){
        margin-right: 40px;
    }

    .nav__item:not(:last-child) {
        margin-right: 40px;
    }

    .movie-search {
        width: 336px;
    }

}

// DESKTOP STARTS 
@media screen and (min-width:1280px) {
    .header__logo {
        margin-right: auto;
    }
}


// LIBRARY ELEMENTS
.library-box {
    margin-top: 40px;
}


.library-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 36px;
    width: 120px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;

    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
    color: var(--secondary-color);
    background-color: transparent;
    transition: background-color 250ms linear;

    &:hover,
    &:focus {
        border-color: var(--accent-color);
        background-color: var(--accent-color);
        filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
        box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    }

}

.library-btn.accent-btn {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}

.library-btn:first-child {
    margin-right: 20px;

    @media screen and (min-width:768px) {
        margin-right: 32px;
    }

    @media screen and (min-width:1280px) {
        margin-right: 16px;
    }
}

// LIBRARY HEADER
.header-library {
    background-image: url('../images/bg-images/bg-library-mobile.jpg');

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/bg-images/bg-library-mobile@2x.jpg');
    }

    @media screen and (min-width:768px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/bg-images/bg-library-tablet.jpg');

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/bg-images/bg-library-tablet@2x.jpg');
        }
    }

    @media screen and (min-width:1280px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/bg-images/bg-library-desktop.jpg');

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/bg-images/bg-library-desktop@2x.jpg');
        }
    }
}