.arrow-btn__icon {
    display: inline-block;
    width: 30px;
    fill: var(--accent-color);
    transition: fill 250ms linear 100ms;
}
.arrow-btn{
    position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 5%;
        right: 5%;
        // padding: 12px;
        cursor: pointer;
        border-radius: 40px;
        background-color: rgba(0, 12, 21, 0.5);
        border: none;
        transform: rotate(270deg);
        z-index: 1000;
        transition: background-color 500ms linear 250ms, opacity 100ms linear;
        &:hover,
        &:focus{
                background-color: rgba(24, 25, 26, 0.9);
        }
        &:hover .arrow-btn__icon {
            fill: var(--secondary-color);
        }
                @media screen and (max-width:480px) {
                    // .arrow-btn {
                        width: 55px;
                        height: 55px;
                        padding: 8px;
                    // }
                    .arrow-btn__icon{
                        width: 100px;
                    }
                }
                @media screen and (min-width:481px){
                        width: 80px;
                        height: 80px;
                        padding: 12px;
                    .arrow-btn__icon{
                        width: 100px;
                    }
                }
}
.preloader-dev {
    position: fixed;

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background: #fff;

    z-index: 1001;
}

.preloader-dev__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2000ms infinite linear;
}

.preloader-dev__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: var(--accent-color);
    // background-color: #e0e0e0;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2000ms infinite ease-in-out;
}

.preloader-dev__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1000ms;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded-hiding .preloader-dev {
    transition: 300ms opacity;
    opacity: 0;
}

.loaded-vis .preloader-dev {
    display: none;
}


.none{
    opacity: 0;
    pointer-events: none;
    // transition: opacity 250ms linear;

}

.block {
    opacity: 1;
    pointer-events: all;
    // transition: opacity 250ms linear;
}

.preloader {
    /*фиксированное позиционирование*/
        position: fixed;
        /* координаты положения */
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        /* фоновый цвет элемента */
        // background-color: #e0e0e0;
        background: #fff;
        /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
        z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2000ms infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    background-color: var(--accent-color);
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2000ms infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1000ms;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 300ms opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

