:root {
    --primary-font-family: Roboto, sans-serif;

    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --tertiary-color: #545454;
    --accent-color: #FF6B08;

    --primary-bg-color: #ffffff;
}