<!-- <div class="load"> -->
<!-- <a class="icons" href="https://www.flaticon.com/free-icons/arrow" title="arrow icons"></a> -->
<!-- </div> -->
<!-- <img width="100" height="100" src="https://cdn-icons-png.flaticon.com/128/7740/7740748.svg" alt=""> -->
<!-- <img src="https://cdn-icons-png.flaticon.com/128/7740/7740748.png"
    data-src="https://cdn-icons-png.flaticon.com/128/7740/7740748.png" alt="Fast forward" title="Fast forward"
    width="40" height="40" class="lzy lazyload--done" srcset="https://cdn-icons-png.flaticon.com/128/7740/7740748.png"> -->
    <button class="arrow-btn" href="">
        <svg class="arrow-btn__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M16 7.328v-3.328l8 8-8 8v-3.328l-16-4.672z" />
        </svg>
    </button>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus
        laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus
            laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus
                laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus
                    laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus
                        laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus
                            laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus
                                laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus
                                    laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus
                                        laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus
                                            laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>

                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus
                                                laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus
                                                    laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus
                                                        laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus
                                                            laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>

                                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus
                                                                laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>

                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>

                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus
                                                                    laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>

                                                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus
                                                                        laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>
                                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>

                                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti voluptatibus obcaecati, dolore ea non ducimus
                                                                            laborum eius ab consectetur voluptates quasi at vero corporis aliquid dicta nihil quibusdam sapiente ratione.</p>

    <div class="preloader">
        <div class="preloader__row">
            <div class="preloader__item"></div>
            <div class="preloader__item"></div>
        </div>
    </div>
                                                                            
                                                                            
    <script>
        window.onload = function () {
            document.body.classList.add('loaded_hiding');
            window.setTimeout(function () {
                document.body.classList.add('loaded');
                document.body.classList.remove('loaded_hiding');
            }, 500);
        }
    </script>
    <!-- <script>
            // const backToTopButton = document.querySelector(".arrow-btn");

            // const goToTop = (e) => {
            //     document.body.scrollIntoView({
            //         behavior: "smooth"
            //     });

            // };

            // backToTopButton.addEventListener("click", goToTop);
    </script> -->
    <!-- <script>
        // const backToTopButton = document.querySelector(".arrow-btn");

        //     const goToTop = (e) => {
        //         document.body.scrollIntoView({
        //             behavior: "smooth"
        //         });

        //     };

        //     backToTopButton.addEventListener("click", goToTop);

        // backToTopButton.classList.add('none')


        // window.addEventListener('scroll', () => {
        //     if(window.scrollY < 100){
        //         backToTopButton.classList.add('none');
        //         backToTopButton.classList.remove('block');
        //         return;
        //     } else if (window.scrollY >= 100) {
        //     backToTopButton.classList.add('block');
        //     backToTopButton.classList.remove('none');
        //         return;
        //     }
        // console.log(Math.floor(window.scrollY));
        // });
    </script> -->
