<main>
    <div class="container">
        <ul class="gallery-films">
            <li class="gallery-films__item">
                <a href="">
                    <img src="/src/images/no-poster-available.jpg" alt="Картинка заглушка">
                    <p class="gallery-films__description">greyhound</p>
                    <p class="gallery-films__description">Drama, Action</p>
                    <div class="gallery-films__rating">
                        <p class="gallery-films__rating-description">7.9</p>
                    </div>
                </a>
            </li>
            <li class="gallery-films__item">
                <a href="">
                    <img src="/src/images/no-poster-available.jpg" alt="Картинка заглушка">
                    <p class="gallery-films__description">greyhound</p>
                    <p class="gallery-films__description">Drama, Action</p>
                    <div class="gallery-films__rating">
                        <p class="gallery-films__rating-description">7.9</p>
                    </div>
                </a>
            </li>
            <li class="gallery-films__item">
                <a href="">
                    <img src="/src/images/no-poster-available.jpg" alt="Картинка заглушка">
                    <p class="gallery-films__description">greyhound</p>
                    <p class="gallery-films__description">Drama, Action</p>
                    <div class="gallery-films__rating">
                        <p class="gallery-films__rating-description">7.9</p>
                    </div>
                </a>
            </li>
            <li class="gallery-films__item">
                <a href="">
                    <img src="/src/images/no-poster-available.jpg" alt="Картинка заглушка">
                    <p class="gallery-films__description">greyhound</p>
                    <p class="gallery-films__description">Drama, Action</p>
                    <div class="gallery-films__rating">
                        <p class="gallery-films__rating-description">7.9</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</main>


 | 2020