<main>
    <div class="container">
        <ul class="gallery-films">
            <li class="gallery-films__item">
                <a href="">
                    <img class="gallery-films__card" src="/src/images/no-poster-available.jpg" alt="Картинка заглушка">
                    <h3 class="gallery-films__hero">greyhound</h3>
                    <ul class="post-film">
                        <li class="post-film__item">
                            <p class="post-film__description">Documentary, Drama, Other</p>
                        </li>
                        <li class="post-film__item">
                            <p class="post-film__description">2022</p>
                        </li>
                        <li class="post-film__item">
                            <div class="post-film__rating">
                                <p class="post-film__rating-description">7.9</p>
                            </div>
                        </li>
                    </ul>           
                </a>
            </li>
            <li class="gallery-films__item">
                <a href="">
                    <img class="gallery-films__card" src="/src/images/no-poster-available.jpg" alt="Картинка заглушка">
                    <h3 class="gallery-films__hero">greyhound</h3>
                    <ul class="post-film">
                        <li class="post-film__item">
                            <p class="post-film__description">Documentary, Drama, Other</p>
                        </li>
                        <li class="post-film__item">
                            <p class="post-film__description">2022</p>
                        </li>
                        <li class="post-film__item">
                            <div class="post-film__rating">
                                <p class="post-film__rating-description">7.9</p>
                            </div>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="gallery-films__item">
                <a href="">
                    <img class="gallery-films__card" src="/src/images/no-poster-available.jpg" alt="Картинка заглушка">
                    <h3 class="gallery-films__hero">greyhound</h3>
                    <ul class="post-film">
                        <li class="post-film__item">
                            <p class="post-film__description">Documentary, Drama, Other</p>
                        </li>
                        <li class="post-film__item">
                            <p class="post-film__description">2022</p>
                        </li>
                        <li class="post-film__item">
                            <div class="post-film__rating">
                                <p class="post-film__rating-description">7.9</p>
                            </div>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="gallery-films__item">
                <a href="">
                    <img class="gallery-films__card" src="/src/images/no-poster-available.jpg" alt="Картинка заглушка">
                    <h3 class="gallery-films__hero">greyhound</h3>
                    <ul class="post-film">
                        <li class="post-film__item">
                            <p class="post-film__description">Documentary, Drama, Other</p>
                        </li>
                        <li class="post-film__item">
                            <p class="post-film__description">2022</p>
                        </li>
                        <li class="post-film__item">
                            <div class="post-film__rating">
                                <p class="post-film__rating-description">7.9</p>
                            </div>
                        </li>
                    </ul>
                </a>
            </li>
        </ul>









        <ul class="gallery-films">
            <li class="gallery-films__item">
                <a href="">
                    <img class="gallery-films__card" src="/src/images/no-poster-available.jpg" alt="Картинка заглушка">
                    <h3 class="gallery-films__hero">greyhound</h3>
                    <ul class="library-film">
                        <li class="library-film__item">
                            <p class="library-film__description">Documentary, Drama, Other</p>
                        </li>
                        <li class="library-film__item">
                            <p class="library-film__description">2022</p>
                        </li>
                        <li class="library-film__item">
                            <div class="library-film__rating">
                                <p class="library-film__rating-description">7.9</p>
                            </div>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="gallery-films__item">
                <a href="">
                    <img class="gallery-films__card" src="/src/images/no-poster-available.jpg" alt="Картинка заглушка">
                    <h3 class="gallery-films__hero">greyhound</h3>
                    <ul class="library-film">
                        <li class="library-film__item">
                            <p class="library-film__description">Documentary, Drama, Other</p>
                        </li>
                        <li class="library-film__item">
                            <p class="library-film__description">2022</p>
                        </li>
                        <li class="library-film__item">
                            <div class="library-film__rating">
                                <p class="library-film__rating-description">7.9</p>
                            </div>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="gallery-films__item">
                <a href="">
                    <img class="gallery-films__card" src="/src/images/no-poster-available.jpg" alt="Картинка заглушка">
                    <h3 class="gallery-films__hero">greyhound</h3>
                    <ul class="library-film">
                        <li class="library-film__item">
                            <p class="library-film__description">Documentary, Drama, Other</p>
                        </li>
                        <li class="library-film__item">
                            <p class="library-film__description">2022</p>
                        </li>
                        <li class="library-film__item">
                            <div class="library-film__rating">
                                <p class="library-film__rating-description">7.9</p>
                            </div>
                        </li>
                    </ul>
                </a>
            </li>
            <li class="gallery-films__item">
                <a href="">
                    <img class="gallery-films__card" src="/src/images/no-poster-available.jpg" alt="Картинка заглушка">
                    <h3 class="gallery-films__hero">greyhound</h3>
                    <ul class="library-film">
                        <li class="library-film__item">
                            <p class="library-film__description">Documentary, Drama, Other</p>
                        </li>
                        <li class="library-film__item">
                            <p class="library-film__description">2022</p>
                        </li>
                        <li class="library-film__item">
                            <div class="library-film__rating">
                                <p class="library-film__rating-description">7.9</p>
                            </div>
                        </li>
                    </ul>
                </a>
            </li>
        </ul>
    </div>
</main>