<div class="team-backdrop">

    <div class="modal-team">
        <h2 class="modal-team-title">
            <span class="span-animation">&#60;&#47;&#62;</span>
            &#x20;
            <span class="span-animation">J</span><span class="span-animation">U</span><span class="span-animation">S</span><span class="span-animation">T</span>
            &#x20;
            <span class="span-animation">I</span><span class="span-animation">T</span><span class="span-animation">E</span><span class="span-animation">A</span><span class="span-animation">M</span>
        </h2>
        <!-- <p class="modal-team-description">Our dream team for web develop!</p> -->
        <button type="button" class="close-modal-team-button" data-action="close-modal">
            <svg class="close-modal-team-icon" width="15" height="15">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <div class="gallery">
        <ul class="team-list">
            <li class="team-list-item">
                <img class="team-list-img" src="./images/team-images/Anastasiia Haliara.jpg" alt="Team Leed">
                <div class="team-list-content">
                    <h3 class="team-list-name">Anastasiia Haliara</h3>
                    <p class="team-list-text">Team Leed</p>
                </div>
            </li>
            <li class="team-list-item">
                <img class="team-list-img" src="./images/team-images/Anton Lyzun.jpg" alt="Scrum Master">
                <div class="team-list-content">
                    <h3 class="team-list-name">Anton Lyzun</h3>
                    <p class="team-list-text">Scrum Master</p>
                </div>
            </li>
            <li class="team-list-item">
                <img class="team-list-img" src="./images/team-images/Yana Pavlik.jpg" alt="Developer 1">
                <div class="team-list-content">
                    <h3 class="team-list-name">Yana Pavlyk</h3>
                    <p class="team-list-text">Developer</p>
                </div>
            </li>
            <li class="team-list-item">
                <img class="team-list-img" src="./images/team-images/Serhiy Kaushnjan.jpg" alt="Developer 2">
                <div class="team-list-content">
                    <h3 class="team-list-name">Serhiy Kaushnjan</h3>
                    <p class="team-list-text">Developer</p>
                </div>
            </li>
            <li class="team-list-item">
                <img class="team-list-img" src="./images/team-images/Anatolii Tomniak.jpg" alt="Developer 3">
                <div class="team-list-content">
                    <h3 class="team-list-name">Anatolii Tomniak</h3>
                    <p class="team-list-text">Developer</p>
                </div>
            </li>
            <li class="team-list-item">
                <img class="team-list-img" src="./images/team-images/Julia Suchomlyn.jpg" alt="Developer 4">
                <div class="team-list-content">
                    <h3 class="team-list-name">Julia Suchomlyn</h3>
                    <p class="team-list-text">Developer</p>
                </div>
            </li>
            <li class="team-list-item">
                <img class="team-list-img" src="./images/team-images/Yurii Kukharuk.jpg" alt="Developer 5">
                <div class="team-list-content">
                    <h3 class="team-list-name">Yurii Kukharuk</h3>
                    <p class="team-list-text">Developer</p>
                </div>
            </li>
            <li class="team-list-item">
                <img class="team-list-img" src="./images/team-images/Stanislav Sporevoi.jpg" alt="Developer 6">
                <div class="team-list-content">
                    <h3 class="team-list-name">Stanislav Sporevoi</h3>
                    <p class="team-list-text">Developer</p>
                </div>
            </li>
        </ul>
</div>
    </div>

</div>


</footer>