<div class="backdrop">
  <div class="container">
    <div class="modal-window">
      <button type="button" class="close-modal-btn">
        <svg class="close-btn-icon">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>

      <div class="film-info-container">
        <div class="img-wrap">
          <img src="./images/no-poster-available.jpg" alt="" />
        </div>
        <div class="film-info-wrap">
          <h2 class="film-title">Title</h2>
          <table class="film-details">
            <tr>
              <td class="film-indicator">Vote / Votes</td>
              <td class="film-value">
                <span class="rating-value rating-value__accent">7.3</span>
                <span class="rating-divider">/</span>
                <span class="rating-value">1234</span>
              </td>
            </tr>
            <tr>
              <td class="film-indicator">Popularity</td>
              <td class="film-value">100.2</td>
            </tr>
            <tr>
              <td class="film-indicator">Original Title</td>
              <td class="film-value film-value__upper">info</td>
            </tr>
            <tr>
              <td class="film-indicator">Genre</td>
              <td class="film-value">info</td>
            </tr>
          </table>
          <h3 class="film-about">About</h3>
          <p class="film-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque,
            repudiandae non voluptatum, ipsum possimus vel libero impedit
            dignissimos molestias ab dolorem recusandae ducimus architecto iusto
            magnam quis quod minus nam. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Doloremque, repudiandae non voluptatum, ipsum
            possimus vel libero impedit dignissimos molestias ab dolorem
            recusandae ducimus architecto iusto magnam quis quod minus nam.
          </p>
          <div class="btn-wrap">
            <button type="button" class="btn btn-wached">add to Watched</button>
            <button type="button" class="btn btn-queue">add to queue</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
