<div class="container__form invis h-100 ">
	<div class="row">
		<div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

			<p class="text-center">Sign up</p>
			<div class="close__icon">
				<i class="fa-solid fa-circle-xmark"></i>
			</div>
			<form class="mx-1 mx-md-4 form">

				<!-- <div class="form__input input__name">
					<i class="fas fa-user fa-lg me-3 fa-fw"></i>
					<div class="form-outline flex-fill mb-0">
						<input type="text" id="userName" class="form-control" placeholder=" " />
						<label class="form-label" for="userName">Your Name</label>
					</div>
				</div> -->

				<div class="form__input">
					<i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
					<div class="form-outline flex-fill mb-0">
						<input type="email" id="userEmail" class="form-control" placeholder=" " />
						<label class="form-label" for="userEmail">Your Email</label>
					</div>
				</div>

				<div class="form__input">
					<i class="fas fa-lock fa-lg me-3 fa-fw"></i>
					<div class="form-outline flex-fill mb-0">
						<input type="password" id="firstPass" class="form-control" placeholder=" " />
						<label class="form-label" for="firstPass">Password</label>
					</div>
				</div>

				<!-- <div class="form__input">
					<i class="fas fa-key fa-lg me-3 fa-fw"></i>
					<div class="form-outline flex-fill mb-0">
						<input type="password" id="repeatedPass" class="form-control" placeholder=" " />
						<label class="form-label" for="repeatedPass">Repeat your password</label>
					</div>
				</div> -->

				<div class="form-check d-flex justify-content-center mb-5">
					<input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
					<label class="form-check-label" for="form2Example3">
						I agree all statements in <a href="#!">Terms of service</a>
					</label>
				</div>


				<div class="button__container">
					<button type="submit" class="btn btn-primary btn__signup">Sign Up</button>
					<button type="submit" class="btn btn-primary btn__login">Log In</button>
				</div>
			</form>

		</div>
		<div class="img__container">

			<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid" alt="Sample image">

		</div>
	</div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />